{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Videos for {{ klass }}</li>
  </ol>
</nav>


{% for video in videos %}
<div class="card">
  <div class="embed-responsive embed-responsive-16by9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.suffix }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="card-body">
    <h5 class="card-title"><a href="./{{video.id }}/">{{ video.title }}</a></h5>
    <p class="card-text"><em>Posted {{ video.date }}</em> by {{ video.author }}</em></p>
  </div>
</div>
<br>
<hr>
<br>
{% empty %}
<h2>No videos found </h2>
{% endfor %}

{% endblock %}
